<html>
<head>
<title>注册页面</title>
</head>

<body>
<form method="post" action="/users">
    <label>用户名:</label>
    <input type="text" name="username"/>
    <br/>
    <label>邮箱:</label>
    <input type="text" name="email"/>
    <br/>
    <label>密码:</label>
    <input type="password" name="password"/>
    <br/>
    <input type="submit" value="注册"/>
</form>

</body>
</html>
